<div style="margin-bottom: 3rem">
  <div style="display: inline-block; vertical-align: top; margin-right: 1rem;">
    <img
      width="110"
      style="border-radius: 50%; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
      src="https://media.licdn.com/dms/image/C4D03AQHV-YvfAQUsRg/profile-displayphoto-shrink_200_200/0/1660866585555?e=1699488000&v=beta&t=-N2Dg3065JaJRKzvjFRpFV56H51F-Qur2nm2vNiWtxk"
    >
  </div>
  <div style="display: inline-block;">
    <h1 style="margin-bottom: 0">Mateus Silva</h1>
    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
      </ul>
    </nav>
  </div>
</div>